body {
    background-color: #CAE7A3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fondo {
    fill: #23283C;
    transition: fill 0.2s ease-in-out;
}

svg:hover #fondo {
    fill: #303957;
    transition: fill 0.2s ease-in-out;
}

#buho {
    fill: #2EC100;
    transition: fill 0.2s ease-in-out;
}

svg:hover #buho {
    fill: #0C0;
    transition: fill 0.2s ease-in-out;
}

svg:active #buho {
    fill: #0F0;
    transition: fill 0.2s ease-in-out;
}

#mascara {
    transform: translate(38px, 45px);
    transition: transform 0.2s ease-in-out;
}

svg:hover #mascara {
    transform: translate(43px, 40px) rotate(3deg);
    transition: transform 0.2s ease-in-out;
}

#ojo-izq-bolsa {
    transform: translate(24px, 179px) rotate(104deg);
    transition: all 0.2s ease-in-out;
}

svg:hover #ojo-izq-bolsa {
    transform: translate(24px, 148px) rotate(100deg);
    transition: all 0.2s ease-in-out;
}

#ojo-der-bolsa {
    transform: translate(188px, 179px) rotate(-104deg);
    transition: all 0.2s ease-in-out;
}

svg:hover #ojo-der-bolsa {
    transform: translate(188px, 150px) rotate(-104deg);
    transition: all 0.2s ease-in-out;
}

@keyframes cerrar-ojo-der {
    0% {
    }
    100% {
    }
}